<!DOCTYPE html>
<style>
    p {
        font-size: 12px;
    }
    #header {
        margin-left: 10px;
    }
    #title {
        color: orange;
        text-decoration: solid;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <a asp-controller="Home" asp-action="Index">
                <img class="header-content" src="~/Images/DTT logo.png" alt="DTT - Apps Web Games" tag="logo">
            </a>
            <hr>
            <div style="margin: 10px;">
                <h5 id="title">Widget News Admin</h5>
                <p>
                    <div>@ViewBag.Message</div> <a href="@Url.Action("Logout","Login")">Log out</a>
                </p>
            </div>
            <hr>
        </header>

        <main role="main" class="main_content">
            @RenderBody()
        </main>

        <footer class="footer">
            <hr>
            <div class="footer-content" style="display:flex; justify-content: space-between">
                <span>
                    DTT Multimedia &copy; 2015. All rights reserved. <a href="@Url.Action("AdminHome","Home")">Site Admin</a>
                </span>
                <span>
                    <a href="@Url.Action("Logout","Login")">Log out</a>
                </span>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
